{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>Heriatage Curd Operations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<h3 style="font-family: Lucida Sans Unicode;text-align:center;color:deeppink;background-color:aqua"><B>welcome To Heriatage Curd Operations</B></h3>
<div class="jumbotron">
<div id="niha">
    <a id='gan' href="/create/">Insert</a>
    <a id='gan' href="/update/">update</a>
    <a id='gan' href="/access/">access</a>
    <a id='gan' href="/delete/">delete</a>
    </div>
</div>
</body>
</html>